/* CSS declarations go here */

/* Global */

main {
  min-height: 63vh;
}

h1 {
  font-size: 42px;
  text-align: center;
}

h3 {
  font-size: 32px;
}

/* Index */

p.description {
  margin: 1.6em 0;
  padding: 0 1.5em;
  text-align: left;
  font-size: 1.15em;
}

p.description code {
  font-size: 0.85em;
}

#login-box {
  max-width: 420px;
  background: #fff;
  margin: 0 auto;
  padding: 8px 20px;
  box-shadow: #ccc -1px 2px 4px, #ccc 1px -1px 4px;
  z-index: 2;
}

/* Features Page */

#features ul>li span.feature-name {
  color: #d45;
  font-weight: bold;
}

/* Data in React Page */

ul.square-list li {
  list-style-type: square;
}
